.ChannelDetails {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.ChannelDetails .Controls {
  display: flex;
  align-items: center;
  color: #a0a6bc;
}

.ChannelDetails .Controls span {
  border: 2px solid #a0a6bc;
  padding: 2px 5px;
  border-radius: 50%;
}

.ChannelDetails img {
  border: 2px solid #a0a6bc;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
