$shadow_color: 3px 3px 5px 6px #151515;

.App {
  -webkit-box-shadow: $shadow_color; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: $shadow_color; /* Firefox 3.5 - 3.6 */
  box-shadow: $shadow_color; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

  position: relative;
  width: 300px;
  height: 500px;
  background: #2a2a34;
  margin: 100px auto;
  border-radius: 25px;
  overflow: hidden;
  .Spinner {
    padding-top: 120px;
  }
}
